<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>

        <p>
        Your user type is <%= user.userType %> <br>
        Your account type is <%= user.accountType %> <br>
        Your system-generated uuid is: <%= user.id %> <br>
        <% if(user.accountType=="google"){ %>
            Your username is <%= user.google.name %> <br>
            Your email is: <%= user.google.email %> <br>
            Your id is: <%= user.google.id %>
        <% }else{ %>
            Your username is <%= user.local.username %> <br>
            Your email is: <%= user.local.email %> <br>
            Your password is: <%= user.local.password %>
        <% } %>
        </p>

        <% include ./partials/footer.ejs %>
    </body>
</html>