extends ../layout

block content
	p
		.container
			h1.
				User Profile #{user.name}
	p
		.container
			p	Name: #{user.name}
			p	Email: #{user.email}
			p	Description: #{user.description}
			p
				form(action='/users/login',method='post',name='backtoMain',enctype='application/x-www-form-urlencoded')
					input#inputName(type='hidden', value='#{person.email}', name='email')
					input#inputPassword(type='hidden', value='#{person.password}', name='password')
					button#btnSubmit(type='submit').
						Back
			if rights >= user.admin
				a(href='/users/#{user._id}/edit') Edit